.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.site-footer h1 {
  font-size: 20px;
  margin: 0;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-footer h2 {
  margin: 0;
  font-size: 14px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-address {
  text-align: left;
  margin: 20px 0;
  padding: 0 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-address p {
  font-family: sans-serif;
  margin: 5px 0;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.footer-legal p {
  margin: 0;
  font-size: 15px;
}

.underline {
  text-decoration: underline;
}
.custom-hr2 {
  width: 100%;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .footer-branding {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }

  .footer-address {
    text-align: center;
    padding: 0 20px;
  }

  .footer-legal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .footer-legal p {
    font-size: 14px;
  }

  .footer-content h1,
  .footer-content h2 {
    font-size: 16px;
  }

  .social-icons img {
    width: 22px;
    height: 22px;
  }
}
